.container-div {
    text-align: center;
    background-color: rgb(40, 40, 40);
    margin: 10px 0;
    border-radius: 10px 10px 10px 10px;
    padding: 2%;
}

.button{
padding: 10px;
background-color: rgb(57, 3, 93);
color: white;
border-radius: 5px;
border: 1px solid white;
cursor: pointer
}

.button:hover{
    background-color: lightcoral;
    transition: background-color 0.2s ease;
    color: black;
    /* font-weight: bold; */
    border: 1px solid black;
}